# Nom de l'environnement d'exécution de l'application.
# NODE_ENV peut prendre les valeurs suivantes :
# - development : pour le développement local
# - production : pour l'environnement de production
# - test : pour les tests automatisés
NODE_ENV=development

# Nom d'utilisateur pour se connecter à PostgreSQL.
# C'est l'identifiant utilisé pour authentifier les requêtes.
POSTGRES_USER=user

# Mot de passe associé à l'utilisateur PostgreSQL défini ci-dessus.
# Il est utilisé pour sécuriser l'accès à la base de données.
POSTGRES_PASSWORD=password

# Nom de la base de données PostgreSQL à laquelle se connecter.
# Cette base sera utilisée pour stocker les données de l'application.
POSTGRES_DB=db


# Port sur lequel PostgreSQL écoute les connexions.
# Par défaut, PostgreSQL utilise le port 5432.
POSTGRES_PORT=5432

# Adresse de l'hôte où PostgreSQL est exécuté.
# "localhost" signifie que la base de données est hébergée sur la même machine que l'application.
# Si l'application et PostgreSQL s'exécutent dans des conteneurs Docker distincts,
# remplacez "localhost" par le nom du conteneur PostgreSQL (par exemple, "container_db_name").
POSTGRES_HOST=localhost